[Desktop Entry]
Name=IdeaTracker
GenericName=Gestor de Ideas
Comment=Registra, gestiona y prioriza tus ideas y planes de negocio
Exec=python3 /home/fox/Documentos/Desarrollo/Prg linux/IdeaTracker/main.py
Icon=ideaTracker
Terminal=false
Type=Application
Categories=Office;ProjectManagement;
Keywords=ideas;planes;negocio;tracker;notas;
StartupNotify=true
StartupWMClass=ideaTracker
